@model IEnumerable<About>

<form method="post" enctype="multipart/form-data">
	<div class="col-12">
		@foreach (var item in Model)
		{
		


		<p>Name</p>
		<input class="form-control mb-3" name="Name" value = "@item.Name" />
		<p>Title</p>
		<input class="form-control mb-3" name="Title" value = "@item.Title" />
		<p>Description</p>
		<input class="form-control mb-3" name="Description" value = "@item.Description" />
		<p>Photo</p>
		<input class="form-control mb-3"  type="file" name="Image" value="@item.PhotoURL"/>
		<img class="img-fluid mb-3"  src = "@item.PhotoURL"/>
		<input type="hidden" name="OldPhoto" value="@item.PhotoURL"/>	
		<input class="form-control mb-3" type="hidden" name="ID" value = "@item.ID" />

		}
		
		<input class="form-control mb-3" type="submit" value="Edit"/>
		
	</div>


</form>