@model Dental



<p>@Model.Title</p>
<p>@Model.SubTitle</p>
<p>@Model.Description</p>
<p>@Model.Info</p>
<p>@Model.Email</p>
<p>@Model.Phone</p>
<p>
	<img src="@Model.PhotoURL" />
</p>


<br />
<a class="btn btn-danger" href="/admin/dental/delete/@Model.ID">Delete</a>



